*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    position: relative;
    font-family: 'Libre Baskerville', sans-serif;
}

.menu {
    margin-left: 2rem;
    margin-top: 2rem;
    font-family: 'Special Elite', sans-serif;
    position: fixed;
    width: 4rem;
    height: 4rem;
    z-index: 9999;
    display: flex;
    border-radius: 100rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: solid 0px;
    transition: background-color 0.2s;
}

.menu svg {
    width: 2rem;
    height: 2rem;
}

.menu:hover {
    background-color: #d0d0d0;
    cursor: pointer;
}

.menu:active {
    background-color: #a0a0a0
}

.hero-top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/hero.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: "Special Elite"
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-upload {
    display: none;
}

#upload-button {
    font-family: 'Special Elite', sans-serif;
    background-color: #555;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    font-family: 'Special Elite', sans-serif;
}

.hero-top h1 {
    font-size: 4rem
}

  
.image-preview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: auto;
}

.preview-box {
    position: relative;
    margin: 5% auto;
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.hero-top h2 {
    font-size: 2rem;
}

.preview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choose-file-button {
    background-color: rgb(79, 121, 66);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', sans-serif;
  }

.preview-content img {
    max-width: 100%;
    max-height: 80vh;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#close-preview {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #c23126;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#close-preview:hover {
    background-color: #af2626;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-box {
    margin: 2rem;
    text-align: center;
    display: flex;
    width: 90%;
    height: 80%;
    border-radius: 1rem;
    background-color: #f2f2f2;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.result-box img {
    width: 20%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.result-box h1 {
    margin: 0 1rem 0 2rem;
    font-family: "Special Elite"
}

.result-box h3 {
    margin: 0 2rem 0 1rem;
    font-family: "Special Elite"
}

.result-box p {
    margin: 0 2rem 0 2rem;
}

.result-box span {
    position: absolute;
    font-family: "Special Elite";   
    top: 10px;
    left: 10px;
    font-size: 14px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}